[submodule "FujiCompiler/lib/jastaddj-git"]
	path = FujiCompiler/lib/jastaddj-git
	url = https://bitbucket.org/jastadd/jastaddj.git
[submodule "FujiCompiler/lib/intraflow-git"]
	path = FujiCompiler/lib/intraflow-git
	url = https://bitbucket.org/SergiyKolesnikov/jastaddj-intraflow.git
