[submodule "FujiCompiler/lib/jastaddj-git"]
	path = FujiCompiler/lib/jastaddj-git
	url = git@bitbucket.org:jastadd/jastaddj.git
[submodule "FujiCompiler/lib/intraflow-git"]
	path = FujiCompiler/lib/intraflow-git
	url = git@bitbucket.org:SergiyKolesnikov/jastaddj-intraflow.git
